@model IEnumerable<VeterinarskaStanica.Model.Termin>

@{
    ViewBag.Title = "Odobreni";
}

<h2>Odobreni</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Zivotinja.Ime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Datum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VrstaTermina.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Napomena)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Zivotinja.Ime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Datum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VrstaTermina.Naziv)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Napomena)
        </td>

        <td>
            @Html.ActionLink("Detalji", "Details", new { id=item.Id }) |
            @Html.ActionLink("Otkaži", "Otkazi", new { id=item.Id })
        </td>
    </tr>
}

</table>
