@model VeterinarskaStanica.Model.Zivotinja
@using VeterinarskaStanica.Model
@{
    ViewBag.Title = "Detalji životinje";
    
}

<h2>Detalji životinje</h2>

<div>
    <h4>Zivotinja</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VrstaZivotinje.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VrstaZivotinje.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PasminaZivotinje.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PasminaZivotinje.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumRodenja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumRodenja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumSmrti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumSmrti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Boja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Boja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrojCipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrojCipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PolozajCipa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolozajCipa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumCipiranja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumCipiranja)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Vrati se na listu", "Index")
</p>





@*Termini*@



<h2>Termini</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Datum")
        </th>
        <th>
            @Html.DisplayName("Vrsta termina")
        </th>
        <th>
            @Html.DisplayName("Status termina")
        </th>
        <th>
            @Html.DisplayName("Napomena")
        </th>

        <th></th>
    </tr>

    @foreach (var item in (List<Termin>)ViewBag.Termini)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VrstaTermina.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Napomena)
            </td>

            <td>
                @Html.ActionLink("Detalji", "Details","Termin", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>

